<div class="w-full">
  <%= link_to "Back to Dashboard", examples_sortable_index_path, class: "border rounded p-2 ml-4" %>

  <div class="w-1/2 p-4 flex flex-col gap-4 w-full">
    <div class="flex gap-4">
      <i class="fa-solid fa-table-columns fa-xl pt-3 h-fit"></i>
      <div>
        <%= turbo_frame_tag :name do %>
          <%= link_to @task.name, edit_examples_task_path(@task, attribute: :name), class: "text-2xl" %>
        <% end %>

        <div>In list <%= link_to "##{@task.status}", "#x" %></div>
      </div>
    </div>

    <div class="flex gap-4">
      <i class="fa-solid fa-align-justify fa-xl pt-3 h-fit"></i>
      <div class="w-full">
        <%= turbo_frame_tag :description do %>
          <%= link_to @task.description, edit_examples_task_path(@task, attribute: :description), class: "text-2xl" %>
        <% end %>
      </div>
    </div>

    <div class="flex gap-4">
      <i class="fa-solid fa-cubes-stacked fa-xl pt-3 h-fit"></i>
      <div class="w-full">
        <%= turbo_frame_tag :status do %>
          <%= link_to t(".#{@task.status}"), edit_examples_task_path(@task, attribute: :status), class: "text-2xl" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
