<%= form_with(model: admins_post, url: admins_posts_path, class: "contents") do |form| %>
  <% if admins_post.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(admins_post.errors.count, "error") %> prohibited this admins_post from being saved:</h2>

      <ul>
        <% admins_post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :summary %>
    <%= form.text_field :summary %>
  </div>

  <div>
    <%= form.label :link %>
    <%= form.text_field :link %>
  </div>
  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
