<div id="<%= dom_id post %>" data-controller="admins--post--editorjs" >
  <div>
    <h1><%= Post.human_attribute_name(:title) %></h1>
    <span><%= post.title %></span>
  </div>
  <div>
    <h1><%= Post.human_attribute_name(:summary) %></h1>
    <span><%= post.summary %></span>
  </div>
  <div>
    <h1><%= Post.human_attribute_name(:link) %></h1>
    <span><%= post.link %></span>
  </div>
  <div>
    <h1><%= Post.human_attribute_name(:body) %></h1>
    <div id="editorjs" readonly></div>
    <input id="post_body" hidden value="<%= post.body %>" data-admins--post--editorjs-target="body"/>
  </div>

  <% if action_name != "show" %>
    <%= link_to "Show this post", admins_post_path(post), class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this post", edit_admins_post_path(post), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
