<div class="flex flex-col bg-black" data-controller="portfolio">
  <div class="h-screen bg-black sticky top-0 flex pt-48 z-10" data-portfolio-target="hero">
    <%= render Logo.new class_name: "absolute top-24 left-1/2 -translate-x-1/2" %>
    <div class="w-full bg-green-400 flex flex-col justify-between pt-36">
      <div class="flex gap-4 flex-col justify-center items-center">
        <a href="./#xxx">About</a>
        <a href="./#xxx">Showcases</a>
        <a href="./#xxx">Work</a>
        <a href="./#xxx">Contact</a>
      </div>

      <h1 class="text-5xl flex justify-center">TAY LE</h1>
    </div>
  </div>

  <div class="bg-black relative flex flex-col text-slate-200 py-12 px-6 z-10">
    <div class="sticky top-12 flex flex-col items-center gap-12">
      <h1 class="font-black text-5xl text-green-400">About Me</h1>
      <span class="text-center sticky top-24">
      <%= FFaker::Lorem.paragraph %>
    </span>
    </div>

    <div class="relative flex flex-col">
      <% 3.times do %>
        <div class="relative flex flex-col bg-green-400 p-0.5 sticky top-36">
          <div class="text-3xl p-12 font-black text-center flex justify-center items-center text-black">
            Ruby on Rails Engineer
          </div>
          <div class="text-center bg-black py-12 px-6">
            <%= FFaker::Lorem.paragraph %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="bg-black relative flex flex-col text-slate-200 py-12 px-6 gap-6 z-10">
    <div class="sticky top-12 flex flex-col items-center gap-12">
      <h1 class="font-black text-5xl text-green-400">Services</h1>
      <a class="border rounded-full p-2"
         href="https://www.linkedin.com/in/t%C3%A2y-l%C3%AA-ph%C6%B0%C6%A1ng-2b80651ba/"
         target="_blank"
      >
        Contact
      </a>
    </div>

    <div class="relative flex flex-col">
      <% 5.times do |index| %>
        <div class="font-bold text-3xl flex flex-col bg-black border border-green-400 sticky top-48 p-12 justify-between text-center">
          <%= FFaker::Company.name %>
          <div class="absolute bottom-0 right-0 text-7xl opacity-30">
            0<%= index + 1 %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="h-screen w-screen invisible z-10"></div>

  <div class="h-screen w-screen bg-green-400 fixed top-0 left-0 flex flex-col z-0 justify-between">
    <h1 class="text-5xl flex justify-center">LET'S TALK</h1>

    <%= render Logo.new class_name: "absolute top-24 left-1/2 -translate-x-1/2" %>

    <div class="w-full bg-green-400 flex flex-col justify-between pt-36 pb-4 gap-16">
      <div class="flex gap-4 flex-col justify-center items-center">
        <a href="./#xxx">About</a>
        <a href="./#xxx">Showcases</a>
        <a href="./#xxx">Work</a>
        <a href="./#xxx">Contact</a>
      </div>

      <div>
        <div class="text-center">
          Design by <a href="https://twitter.com/CristianMielu" target="_blank">Cristian Mielu</a>
        </div>
      </div>
    </div>
  </div>

</div>
