<!DOCTYPE html>
<html>
<head>
  <title>Tay Le | <%= yield(:head_title).presence || "My Rail" %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
  <%= favicon_link_tag "icons/logo.svg" %>
</head>

<body class="flex h-full">

<div class="w-72 h-screen fixed top-0 left-0 px-6 pb-6 flex flex-col gap-6 bg-zinc-950 text-white">
  <div class="h-16 flex flex-col justify-center items-start">
    <%= image_tag "icons/logo.svg", class: "h-10 w-auto", alt: "Tayne" %>
  </div>
  <ul class="grow flex flex-col">
    <li class="rounded-md hover:bg-zinc-800 p-2">
      <%= link_to admins_path do %>
        <i class="fa-solid fa-house fa-lg"></i>
        <span class="pl-2 font-bold">
          Dashboard
        </span>
      <% end %>
    </li>
    <li class="rounded-md hover:bg-zinc-800 p-2">
      <%= link_to admins_posts_path do %>
        <i class="fa-solid fa-camera-retro fa-lg"></i>
        <span class="pl-2 font-bold">
          Posts
        </span>
      <% end %>
    </li>
  </ul>
  <div class="flex">
    <%= link_to destroy_admin_session_path, data: { turbo_method: :delete }, class: "rounded-md h-full w-full hover:bg-zinc-800 p-2" do %>
      <i class="fa-solid fa-right-from-bracket fa-lg"></i>
      <span class="pl-2 font-bold">
          Sign Out
        </span>
    <% end %>
  </div>
</div>

<main class="">
  <%= yield %>
</main>

<% if content_for?(:show_scroll_top) %>
  <div data-controller="scroll-top"
       class="group fixed right-12 bottom-6 scale-125 h-fit -translate-y-32"
  >
    <i class="md:group-hover:scale-150 transition-all fa-solid fa-circle-up fa-2xl" data-action="click->scroll_top#trigger"></i>
  </div>
<% end %>
</body>
</html>
