<!DOCTYPE html>
<html>
  <head>
    <title>Rails7Template</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= image_tag "light.jpg", class: "h-screen w-screen -z-50 absolute object-cover"%>

    <%= yield %>

    <%= render App::TaskBar.new %>
  </body>
</html>
